/* /static/css/bill_note.css */

/* A4 page styles */
.A4-page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 10mm auto;
    position: relative;
    box-sizing: border-box;
    display: flex; /* +++ Add Flexbox */
    flex-direction: column; /* +++ Arrange content vertically */
}

/* +++ Make the main content area flexible +++ */
.A4-page main {
    flex-grow: 1; 
}


/* Print styles */
@media print {
    body, .A4-page {
        margin: 0;
        font-family: "TH Sarabun New", "Tahoma", "sans-serif", "Sukhumvit Set", "Thonburi","NotoSansThai", "Noto Sans Thai", "Noto Sans", "Arial";
        box-shadow: none;
    }
    #controls {
        display: none; /* Hide controls when printing */
    }
    .A4-page {
        display: flex !important; /* Ensure flex is active for printing */
    }
}